<template>
  <require from="../resources/elements/category-list"></require>
  <require from="../resources/elements/category-form"></require>

  <require from="../resources/elements/users-list"></require>

  <div class="ui container">
    <div class="ui stackable grid">
      <div class="sixteen wide column">
        <users-list users.bind="users"></users-list>
      </div>
    </div>
  </div>
  <div class="ui stackable two column grid">
    <div class="column">
      <category-form categories.bind="categories"></category-form>
    </div>
    <div class="column">
      <category-list categories.bind="categories"></category-list>
    </div>
  </div>
</template>
