<template>
  <require from="../resources/elements/rating-list"></require>
  <require from="../resources/elements/rating-form"></require>

  <div class="ui stackable two column grid">
    <div class="column">
      <rating-form ratings.two-way="ratings" pois.bind="pois">
      </rating-form>
    </div>
    <div class="column">
      <rating-list ratings.bind="ratings"></rating-list>
    </div>
  </div>
</template>


src/resources/elements/poi-form.ts                                            src/resources/elements/rating-form.ts
